@font-face {
	font-family: Open Sans Light;
	src: url('/fonts/OpenSans-Light.ttf');
}

@font-face {
	font-family: Open Sans;
	src: url('/fonts/OpenSans-Regular.ttf');
}

@font-face {
	font-family: Open Sans Bold;
	src: url('/fonts/OpenSans-Bold.ttf');;;
}

b {
	font-family: 'Open Sans Bold','Microsoft YaHei',Georgia,'Source Han Sans CN','Xin Gothic','Hiragino Sans GB','Noto Sans CJK SC',sans-serif;
}

#mainblock {
    font-family: 'Open Sans','Microsoft YaHei',Georgia,'Source Han Sans CN','Xin Gothic','Hiragino Sans GB','Noto Sans CJK SC',sans-serif;
    font-size: 16px;
    margin: 5% 3% 5% 3%;
    padding: 2% 5% 5% 5%;
    width: 50%;
	min-width: 500px;
    line-height: 150%;
    border: 1px solid LightGrey;
	float: left;
}

#leftblock {
	font-family: 'Microsoft Yahei';
	float: left;
	border: 2px solid LightGrey;
	width: 10%;
	font-size: 15px;
	margin: 2%;
	padding: 1%;
}

#rightblock {
	font-family: 'Microsoft Yahei';
	float: left;
	border: 2px solid LightGrey;
	width: 10%;
	font-size: 15px;
	margin: 2%;
	padding: 1%;
}

#blankblock {
	font-family: 'Microsoft Yahei';
	float: left;
	width: 10%;
	font-size: 15px;
	margin: 2%;
	padding: 1%;
}

H1 {
    font-family: 'Open Sans Light',Georgia,'Source Han Sans CN','Xin Gothic','Hiragino Sans GB','Microsoft YaHei','Noto Sans CJK SC',sans-serif;
	font-weight: normal;
    margin-bottom: 40px;
    padding: 5px;
    border-bottom: 2px LightGrey solid;
    width: 100%;
    line-height: 150%;
    color: DarkGreen;
}

H2 {
    font-family: 'Open Sans Light',Georgia,'Source Han Sans CN','Xin Gothic','Hiragino Sans GB','Microsoft YaHei','Noto Sans CJK SC',sans-serif;
    margin-top: 40px;
    margin-bottom: 30px;
    border-bottom: 1px LightGrey solid;
    width: 80%;
    line-height: 120%;
	font-size: 20px;
	font-weight: 300;
    color: DarkBlue;
}

H3 {
    font-family: 'Open Sans Light',Georgia,'Source Han Sans CN','Xin Gothic','Hiragino Sans GB','Microsoft YaHei','Noto Sans CJK SC',sans-serif;
    margin-top: 40px;
    margin-bottom: 30px;
    width: 80%;
    line-height: 150%;
	font-size: 18px;
	font-weight: 300;
}

li {
    margin-left: 10px;
}

blockquote {
    border-left: 4px LightGrey solid;
    padding-left: 5px;
    margin-left: 5px;
}

pre {
    font-family: Inconsolata, Consolas, "DEJA VU SANS MONO", "DROID SANS MONO", Proggy, monospace;
    font-size: 75%;
    border: solid 1px #CC929A;
    background-color: Ivory;
    padding: 5px;
    line-height: 130%;
    margin-left: 10px;
    width: 95%;
	white-space:pre-wrap;
	overflow-x:auto;
}

pre > code {
	font-family: Inconsolata, Consolas, "DEJA VU SANS MONO", "DROID SANS MONO", Proggy, monospace;
    font-size: 90%;
    background-color: Ivory;
    padding: 0px;
    width: 100%;
	padding-left:0px;
	border-radius:0px;
}

code {
	font-family: 'Open Sans','Microsoft YaHei';
    font-size: 90%;
	border:0;
	color: #2C3E50;
	background-color:#D6DBDF;
	border-radius: 4px;
	padding:2px 4px;
}

a {
    text-decoration: none;
    border-bottom: 1px dashed Red;
    padding: 1px;
    color: black;
}

a:hover {
	background-color: LightGrey;
}

img {
	max-width: 500px;
	x-shadow: 0 0 10px #555;
    border-radius: 6px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    -webkit-box-shadow: 0 0 10px #555;
}

hr {
    color: LightGrey;
}
