@font-face {
	font-family: Open Sans Light;
	src: url('/fonts/OpenSans-Light.ttf');
}

@font-face {
	font-family: Open Sans;
	src: url('/fonts/OpenSans-Regular.ttf');
}

@font-face {
	font-family: Open Sans Bold;
	src: url('/fonts/OpenSans-Bold.ttf');
}

b {
	font-family: 'Open Sans Bold','Microsoft YaHei',Georgia,'Source Han Sans CN','Xin Gothic','Hiragino Sans GB','Noto Sans CJK SC',sans-serif;
}

table {
    border-collapse:collapse;
}

table, td, th {
	border:1px solid LightGrey;
}

td {
	padding:15px;
}

body {
	background: url('bg.gif') repeat-x;
}

#container {
	width: 1024px;
	margin: auto;
	font-size: 14px;
}

#article {
	width: 960px;
	margin: auto;
	padding-bottom: 16px;
}

#content {
	width: 720px;
}


#about {
	float: right;
	margin-left: 40px;
	margin-bottom: 0;
	width: 200px;
	clear: both;
}

.side-widget {
	float: right;
	margin-left: 40px;
	margin-bottom: 0;
	width: 200px;
	clear: both;
}

#header {
    font-size: 55px;
    font-weight: 300;
    color: white;
    margin-left: 30px;
    margin-top: 10px;
}

#description {
    font-size: 20px;
    font-weight: 100;
    color: white;
    font-style: italic;
    margin-left: 30px;
}

.article-title {
	font-size: 30px;
    margin-top: 30px;
}

#mainblock {
    font-family: 'Open Sans','Microsoft YaHei',Georgia,'Source Han Sans CN','Xin Gothic','Hiragino Sans GB','Noto Sans CJK SC',sans-serif;
    font-size: 16px;
    margin: 5% 3% 5% 3%;
    padding: 2% 5% 5% 5%;
    width: 50%;
	min-width: 600px;
    line-height: 150%;
    border: 1px solid LightGrey;
	float: left;
}

#leftblock {
	font-family: 'Microsoft Yahei';
	float: left;
	border: 2px solid LightGrey;
	width: 10%;
	font-size: 15px;
	margin: 2%;
	padding: 1%;
}

#rightblock {
	font-family: 'Microsoft Yahei';
	float: left;
	border: 2px solid LightGrey;
	width: 10%;
	font-size: 15px;
	margin: 2%;
	padding: 1%;
}

#blankblock {
	font-family: 'Microsoft Yahei';
	float: left;
	width: 10%;
	font-size: 15px;
	margin: 2%;
	padding: 1%;
}

H1 {
    font-family: 'Open Sans Light',Georgia,'Source Han Sans CN','Xin Gothic','Hiragino Sans GB','Microsoft YaHei','Noto Sans CJK SC',sans-serif;
	font-weight: 300;
    margin-bottom: 40px;
    padding: 5px;
    border-bottom: 2px LightGrey solid;
    width: 100%;
    line-height: 150%;
    color: DarkGreen;
}

H2 {
    font-family: 'Open Sans Light',Georgia,'Source Han Sans CN','Xin Gothic','Hiragino Sans GB','Microsoft YaHei','Noto Sans CJK SC',sans-serif;
    margin-top: 20px;
    margin-bottom: 30px;
    border-bottom: 1px LightGrey solid;
    width: 80%;
    line-height: 120%;
	font-size: 20px;
	font-weight: 300;
    color: DarkBlue;
}

H3 {
    font-family: 'Open Sans Light',Georgia,'Source Han Sans CN','Xin Gothic','Hiragino Sans GB','Microsoft YaHei','Noto Sans CJK SC',sans-serif;
    margin-top: 25px;
    margin-bottom: 15px;
    width: 80%;
    line-height: 150%;
	font-size: 18px;
	font-weight: 300;
}

H4 {
    font-family: 'Open Sans Light',Georgia,'Source Han Sans CN','Xin Gothic','Hiragino Sans GB','Microsoft YaHei','Noto Sans CJK SC',sans-serif;
    margin-top: 25px;
    margin-bottom: 7;
    width: 80%;
    line-height: 150%;
	font-size: 15px;
	font-weight: 400;
	color: #E67E22;
}

li {
    margin-left: 10px;
}

ul {
	margin-top:1px;
}

blockquote {
    border-left: 4px LightGrey solid;
    padding-left: 5px;
    margin-left: 5px;
}

pre {
    font-family: Inconsolata, Consolas, "DEJA VU SANS MONO", "DROID SANS MONO", Proggy, monospace;
    font-size: 75%;
    border: 1px solid #b0b5a8;
    background-color: #EFF2F2;
    padding: 5px;
    line-height: 130%;
    margin-left: 10px;
    width: 95%;
	white-space:pre-wrap;
	overflow-x:auto;
}

pre > code {
	font-family: Monaco, Inconsolata, Consolas, "DEJA VU SANS MONO", "DROID SANS MONO", Proggy, monospace;
    font-size: 90%;
    background-color: #EFF2F2;
    padding: 0px;
    width: 100%;
	padding-left:0px;
	border-radius:0px;
}

code {
	font-family: 'Open Sans','Microsoft YaHei';
    font-size: 90%;
	border:0;
	color: #2C3E50;
	background-color:#D6DBDF;
	border-radius: 4px;
	padding:2px 4px;
}

a {
    text-decoration: none;
    color: #009bbc;
}

a:hover {
	text-decoration: underline;
}

img {
	text-align: center;
	max-width: 100%;
	x-shadow: 0 0 10px #555;
    -webkit-box-shadow: 0 0 10px #555;
}

hr {
    color: LightGrey;
}
