* {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}
body {
    background-color: #F4F3F4;
}
.navigation {
    box-sizing: border-box;
    background-color: #009789;
    width: 100%;
    height: 305px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.19) 0 10px 20px, rgba(0, 0, 0, 0.23) 0 6px 6px
}
.activeItem {
    border-bottom: 1px solid #fff;
}
.content {
    max-width: 1300px;
    margin: 0 auto;
}
.nav {
    color: #fff;
    float: right;
}
.nav a {
    text-decoration: none;
    color: #fff;
}
.nav ul li{
    float: left;
    width: 80px;
    font-size: 20px;
    list-style: none;
    margin: 25px;
    margin-bottom: 0;
    padding-bottom: 6px;
}
.nav_con {
    color: #fff;
    width: 100%;
}
.name {
    margin-top: 50px;
    float: left;
    font-size: 60px;
}
.subname {
    float: left;
    font-weight: 200;
    font-size: 28px;
    margin-top: 28px;
}
input {
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid #fff;
    width: 300px;
    margin-top: 20px;
    height: 34px;
    padding: 6px;
    background-color: #009789;
    float: right;
    color: #fff;
    font-size: 28px;
}
input:focus {
    outline: none;
}
input::-webkit-input-placeholder {
    /* placeholder颜色  */
    color: #fff;
    font-size: 20px;
    font-weight: 200;
}
.detail {
    width: auto;
    max-width: 1300px;
    margin: 0 auto;
    margin-top: -50px;
    padding: 0 50px;
}
.detail_l {
    width: 65%;
    float: left;
}
.detail_left {
    text-align: center;
    padding: 45px;
    float: left;
    width: 100%;
    box-shadow: 0 3px 5px #aaa;
    background-color: #fff;
    margin-bottom: 50px;
}
.detail_l h1 {
    font-size: 40px;
    font-weight: bold;
}

.clear {
    clear: both;
}
.arc_content {
    margin-top: 20px;
}
.arc_content h1 {
    font-size: 25px;
    font-weight: 400;
}
.arc_content h2 {
    margin-top: 20px;
    font-weight: 200;
    font-size:22px;
    box-sizing: border-box;
}
.tag {
    margin-top: 40px;
}
.tag span {
    height: 30px;
    line-height: 30px;
    color: #4db6ac;
    padding: 5px 8px;
    border: 1px solid #4db6ac;
    margin-right:10px;
}
.blog_right {
    float: right;
    width: 25%;
    min-width: 300px;
}
.recent {
    padding: 36px;
    box-shadow: 0 3px 5px #aaa;
    font-size: 26px;
    font-weight: bold;
    background-color: #fff;
}
.recent a {
    text-decoration: none;
    color: #000;
}
.recent a:visited {
    text-decoration: none;
    color: #000;
}
.recent p, .comment p, .archive p {
    box-sizing: border-box;
    line-height: 36px;
    height: 36px;
    font-size: 20px;
    font-weight: 100;
    border-bottom: 1px solid #eee;
}
.comment, .archive {
    background-color: #fff;
    margin-top: 50px;
    padding: 36px;
    box-shadow: 0 3px 5px #aaa;
    font-size: 26px;
    font-weight: bold;
}
.author {
    border-bottom: 1px solid #000;
    font-size: 20px;
    font-weight: 100;
}
.com {
    margin-left: 6px;
    font-size: 20px;
    font-weight: 100;
    color: #444
}
.tosay {
    font-size: 20px;
    font-weight: 100;
}
.year {
    font-size: 22px;
    font-weight: 100;
}
.month {
    font-size: 18px;
    color: #666;
}
.number {
    font-size: 22px;
    font-weight: 100;
    color: #aaa;
}
.foot {
    width: 60%;
    margin: 0 auto;
    margin-top: 25px;
    text-align: center;
    color: #bbb;
    border-top: 1px solid #ddd;
    height: 110px;
}
.foot p {
    font-weight: lighter;
    padding-top: 30px;
    font-size: 20px;
}
.foot a ,.foot a:visited {
    color: #ccc;
    text-decoration: none;
    font-style: italic;
}

.nav_con img {
	height: 70px;
	float: right;
}

@media screen and (max-width: 1299px) {
    .detail_l{
        width: 100%;
    }
    .detail_left {
        box-sizing: border-box;
    }
    .blog_right {
        float: left;
        width: 100%;
        margin-left: 0;
    }
    .navigation {
        text-align: center;
    }
    .nav_con {
        width:90%;
        margin: 0 auto;
    }
}
