.article h2, .arc_content h2 {
    width: 80%;
    color: #4db6ac;
    font-weight: 400;
    line-height: 40px;
    margin-top: 20px;
}
.article h3, .arc_content h3 {
    margin-top: 20px;
}
.article h4, .arc_content h4 {
    margin-top: 20px;
    margin-bottom: 20px;
    color: #000;
    font-size: 20px;
}
.article pre code, .arc_content pre code {
    font-family: Monaco, Inconsolata, Consolas, "DEJA VU SANS MONO", "DROID SANS MONO", Proggy, monospace;
}
.article pre, .arc_content pre {
    margin-bottom: 20px;
    font-family: monaco;
    overflow-x: auto;
    font-size: 90%;
    box-shadow: none;
    border: 1px solid #b0b5a8;
    background-color: #EFF2F2;
    border-radius: 0;
    color: #2C3E50;
    width: 100%;
    margin-left: 0;
    padding: 6px 6px;
    margin-top: 20px;
}
.article a, .arc_content a{
    text-decoration: none;
    color: #4db6ac;
}
.article p, .arc_content p {
    border: none;
    border-radius: 0;
    color: #000000;
    box-shadow: none;
    margin-right: 0;
    line-height: 30px;
}
.article p code, .arc_content p code {
    background-color: #D6DBDF;
    border-radius: 4px;
    padding: 2px 4px;
}
.article blockquote, .arc_content p code {
    margin-top: 20px;
    border-left: 4px LightGrey solid;
    padding-left: 5px;
}
.article img, .arc_content img {
    display: block;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    box-shadow: 0 3px 5px #aaa;
}

pre span {
	font-family: Monaco;
}

