<html>
    <head>
        <meta charset="UTF-8" />
        <title>只是一条咸鱼</title>
	<link rel="stylesheet" href="/static/css/index.css" />
	<link rel="stylesheet" href="/static/css/styles.css" />
        <link rel="stylesheet" href="/static/css/tags.css" />
        <link rel="stylesheet" href="/static/css/comments.css" />
        <link rel="stylesheet" href="/static/css/article.css" />
	<link rel="apple-touch-icon" href="/touch.png">
        <script type="text/javascript" src="/static/js/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-MML-AM_HTMLorMML"></script>
	<script type="text/x-mathjax-config">
		MathJax.Hub.Config({
		    tex2jax: {inlineMath: [['$','$'], ['\[','\]']]}
		    });
	</script>
    </head>
    <body>
        <div class="navigation">
            <div class="content">
                <div class="nav">
                    <ul>
                        <li class="activeItem"><a href="/">HOME</a></li>
                        <li><a href="/wiki">WIKI</a></li>
                        <li><a href="/about">ABOUT</a></li>
                    </ul>
                </div>
                <div class="nav_con">
		    <span class="name"><a href="/">只是一条咸鱼</a></span>
		    <br />
                    <div style="float: left;width: 100%">
			<span class="subname">花有重开日，人无再少年</span>
			<form action="/search">
			<input type="submit" hidden><img src="/static/assets/search.png" />
			<input type="text" placeholder="搜索" name="value"/>
			</form>
		    </div>
		    <div class="clear"></div>
                </div>
            </div>
        </div>
        <div class="blog">
            <div class="blog_l">
		{{ content }}
	    </div>
            <div class="blog_right">
                <div class="recent">
                    <span>最近更新</span>
                </div>
                <div class="archive">
                    <span>归档</span>
                    <div style="margin-top: 26px">
                        <div style="border-bottom: 1px solid #eee;padding-left: 10px;height: 36px;line-height: 36px">
                        </div>
                    </div>
                </div>
                <div class="tagsList">
                    <span>标签</span>
                    <div class="tags">
		    <a href="/tag/{{ tag }}" title="{{ tag }}">{{ tag }}</a>
		</div>
                </div>
            </div>
            <div class="clear">
            </div>
        </div>
        <div class="page">
	    <div class ="pageB">
	    {% if paginator.previous_page %}
		<button><a href="{{ paginator.previous_page_path }}">Previous</a></button>
	    {% endif %}
	    {% if paginator.next_page %}
	    <button><a href="{{ paginator.next_page_path }}">Next</a></button>
	    {% endif %}
	</div>
</div>

        <div class="foot">
			<p>Theme from <a href="https://github.com/knowncold/Tipo">Tipo</a></p>
        </div>
    </body>
</html>
