<html>
<head>
<meta name="baidu-site-verification" content="PYIiIxi8Tx" />
<link rel="stylesheet" href="/syntax.css">
<meta http-equiv="content-type" content="text/html; charset=utf-8 " />
<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400" rel="stylesheet">
<script type="text/x-mathjax-config">
MathJax.Hub.Config({
  tex2jax: {inlineMath: [['$','$'], ['\[','\]']]}
  });
</script>
<script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_HTMLorMML"></script>
<link href="/main.css" rel="stylesheet" type="text/css">
<link rel="alternate" type="application/atom+xml" href="atom.xml" title="Atom feed">
<title>{{ page.title }}</title>
</head>
<body>
<div id="blankblock">
</div>
<div id="mainblock">
<h1>{{ page.title }}</h1>

{{ content }}
<div>
</body>

</html>
