<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8 " />
<link rel="alternate" type="application/atom+xml" href="atom.xml" title="Atom feed">
<link rel="apple-touch-icon" href="/favicon.ico">

<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
<script src="/toc.js" type="text/javascript"></script>
<script type="text/x-mathjax-config">
MathJax.Hub.Config({
  tex2jax: {inlineMath: [['$','$'], ['\[','\]']]}
  });
</script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-MML-AM_HTMLorMML"></script>

<link href="/main.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="/syntax.css">
<title>{{ page.title }}</title>
</head>
<body>
<div id="container">
	<div id="header">
		<a href="http://blog.knowncold.me">只是一条咸鱼</a>
	</div>
	<div id="description">
		OpenSource Hardware, Back-End, CTF
	</div>
	<div id="article">
	<div class="side-widget">
		<h4>Article List</h4>
		<div id="toc"></div>
	</div>
	<div class="side-widget">
		<h4>Recently</h4>
		<p><a href="">最近文章</a></p>
		<p><a href="">最近文章文章文章</a></p>
	</div>
	<div class="side-widget">
		<h4>Recommend</h4>
		<p><a href="">推荐文章</a></p>
		<p><a href="">推荐文章</a></p>
		<p><a href="">推荐文章</a></p>
		<p><a href="">推荐文章</a></p>
	</div>
	<div class="side-widget">
		<h4>Tag Cloud</h4>
		<a href="">tag1</a>
		<a href="">tag2</a>
		<a href="">tag3</a>
		<a href="">tag4</a>
	</div>

	<div id="about">
		<h4>About</h4>
		<p>关于关于关于关于关于关于关于</p>
		<p><a href="/about">查看更多</a></p>
	</div>

	<div class="side-widget">
		<h4>Feeds</h4>
		<a href="">RSS feed</a>
	</div>


	<div class="article-title"><a href="{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a></div>

	<div>{{ page.date | date: "%d %B %Y"}}</div>
	<div id="content">
	{{ content }}
	</div>
	</div>

</div>
<div id="foot">
	&copy; 2014-2017 by <a href="http://www.knowncold.me">Zed Xu</a>
</div>

<script type="text/javascript">
$(document).ready(function() {
    $('#toc').toc({ headers: 'h1, h2, h3, h4'});
	$('#toc').toc({ listType: 'ul' });
}); </script>
</body>



<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-50632689-1', 'auto');
  ga('send', 'pageview');

</script>

</html>
